# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
# Node / React
node_modules/
dist/
build/

# Testing
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Misc
.DS_Store
.pnp
.pnp.js

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Java / Spring Boot
target/
*.class
*.jar
*.war
*.ear

# IntelliJ / Eclipse / VSCode
*.iml
.idea/
.project
.classpath
.settings/
.vscode/

# OS files
Thumbs.db

# Android (if using React Native or mobile module)
android/.gradle/
android/.idea/
android/local.properties
android/app/build/

