/* Inside src/App.css */

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  width: 30vw;
  background-color: rgb(190, 164, 214);
  padding: 2vw 1vw;
  border-radius: 10px 10px 0 0;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.register {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 30vw;
  padding: 2vw 1vw;
  background-color: rgb(250, 194, 194);
  border-radius: 0 0 10px 10px;
}

input {
  border: 1px solid rgb(172, 171, 171);
  border-radius: 10px;
  padding: 1vw 1vw;
  outline: none;
  margin: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  width:100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}

/* Ensures the entire app layout */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scroll */
}

.main-container {
  transition: margin-left 0.3s ease-in-out; /* Smooth transition */
  padding: 20px;
  margin-left: 0; /* Default position */
}

/* Shift the container when slide panel is open */
.main-container.shifted {
  margin-left: 250px; /* Move content to the right */
}

.slide-panel {
  width: 0;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background: #333;
  color: white;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  z-index: 1000;
}

.slide-panel.open {
  width: 250px; /* Adjust width as needed */
}

